.footer{
  background-color: var(--footer-background-color);
  margin-top:50px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.footer-padding-top{
  height:20px;
}
.footer-padding-bottom{
  height:20px;
}

.footer-socials{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 10px;
}

.footer-social{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.footer-social-image{
  width:25px;
  height:25px;
  object-fit: contain;
  transition: transform 500ms;
}

.footer-social:hover > .footer-social-image{
  transform: scale(1.1);
  transition: transform 200ms;
}

.footer-dash-break{
  font-size:70px;
  font-family:Roboto-Light;
}

.footer-social-label{
  font-size: 10px;
  max-width: 130px;
  text-align: center;
}

.footer-copyright{
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  .footer{
    display: flex;
    flex-direction: column;
  }
  .footer-social{
    margin: 10px 20px;
    margin-bottom: 1px;
  }
  .footer-socials{
    margin: 0px;
    justify-content: center;
  }
  .footer-dash-break{
    font-size:40px;
    font-family:Roboto-Light;
  }
  .footer-social-image{
    width:20px;
    height:20px;
    margin-bottom: 5px;
  }
  .footer-social-label{
    font-size: 14px;
    max-width: 100px;
    text-align: center;
  }
  .footer-copyright{
    font-size: 8px;
    text-align: center;
    margin:0px;
    margin-bottom: 5px;
    max-width: unset;
  }
  .footer-padding-top{
    height:20px;
  }
  .footer-padding-bottom{
    height:8px;
  }
}