.news-title{
  margin: 10px;
  margin-left: 1vw;
}

.news-box-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0vw 1vw;
}

.news-box{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 12px 0px;
}

.news-box h3{
  margin: 0px;
}

.news-box p{
  margin: 0px;
}


@media only screen and (max-width: 767px) {
  .news-box h3{
    font-size: 20px;
  }
  .news-box{
    padding: 8px 0px;
  }

  .news-title{
    margin:0px;
    margin-top: 20px;
    margin-left: 0px;
  }
}