.research-theme-title{
  margin: 10px;
}

.research-themes-box-container{
  display: flex;
  flex-wrap: wrap;
}

.research-themes-box{
  margin: 10px 10px;
  padding: 15px 25px;
  max-width: 1500px;
  min-width: 200px;
  transition: transform 1s, box-shadow 0.5s;
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.research-themes-box h3{
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.research-themes-box:hover{
  transform: scale(1.01);
  box-shadow: 0px 10px 10px var(--shadow-color);
  transition: transform 0.5s, box-shadow 0.5s;
}


@media only screen and (max-width: 767px) {
  .research-themes-box h3{
    font-size: 20px;
  }
  .research-themes-box{
    flex: 1;
    margin: 5px 5px;
    padding: 10px 15px;
  }

  .research-theme-title{
    margin:0px;
    margin-top: 20px;
  }
}