.research-theme-title{
  margin: 10px;
}

.research-themes-box-container{
  display: flex;
  flex-wrap: wrap;
}

.research-themes-box{
  margin: 10px 10px;
  max-width: 1500px;
  min-width: 400px;
  height: var(--research-theme-height);
  flex: 1;
  transition: transform 1s, box-shadow 0.5s;
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--shadow-color);
  position: relative;
}

.research-themes-box img{
  border-radius: 10px 10px;
  width:100%;
  height:100%;
  object-fit: cover;
}

.research-themes-header-box{
  position:absolute;
  bottom:0;
  background:var(--theme-background-color);
  backdrop-filter: blur(10px);
  border-radius: 0px 10px;
  width:calc(100% - 40px);
  padding:20px;
  min-height:75px;
  transition: min-height 600ms, border-radius 600ms;
  overflow: hidden;
}

.research-themes-box:hover .research-themes-header-box{
  min-height:calc(var(--research-theme-height) - 40px);
  border-radius: 10px 10px;
  transition: min-height 600ms, border-radius 600ms;
}

.research-themes-box h3{
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.research-themes-tag{
  margin: 0px;
  margin-top: 7px;
  margin-right: 15px;
  background-color: var(--accent-button-disabled);
  border-radius: 5px;
  padding:10px;
  padding-top:5px;
  padding-bottom: 4px;
}

.research-themes-box:hover{
  transform: scale(1.01);
  box-shadow: 0px 10px 20px var(--shadow-color-dark);
  transition: transform 0.5s, box-shadow 0.5s;
}

.research-themes-tags{
  position: absolute;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 600ms;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.research-themes-box:hover .research-themes-tags{
  opacity: 1;
  transition: opacity 600ms;
}


@media only screen and (max-width: 767px) {
  .research-themes-box h3{
    font-size: 22px;
  }
  .research-themes-box{
    min-width: 93vw;
    max-width: 93vw;
    margin: 10px -2vw;
  }

  .research-theme-title{
    margin:0px;
    margin-top: 20px;
  }
}

.research-theme{
  font-family: "Rubik-Regular";
  display: inline-block;
  background-color: var(--light-dark-accent-color);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 7px;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
  user-select: none;
}
.research-theme:hover{
  opacity: 0.8;
  transition: opacity 0.2s, background-color 0.2s;
}